.input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50px;
  font-weight: bold;
  font-size: 2rem;
  background-color: #0a0a23;
  color: white;
  box-shadow: -1px 4px 1px 1px white;
  padding: 1rem;
  padding-right: 30px;
}
