@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  width: 90%;
  height: 100vh;
  margin: auto 5%;
}

.main-header {
  font-family: 'Roboto Mono', Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-weight: 600;
  border: 5px solid white;
  background-color: #99c9ff;
  text-align: center;
  font-size: 2rem;
  border-radius: 1rem;
  margin: 10px 0;
  text-transform: capitalize;
}

.container-calculator {
  padding: 1rem;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
