.App {
  display: grid;
  justify-content: center;
}

.main-header {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  border: 5px solid white;
  background-color: #99c9ff;
  text-align: center;
  font-size: 50px;
  border-radius: 20px;
  margin: 10px 0;
}

.container-calculator {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

.row {
  display: flex;
  margin: 4px;
  align-items: center;
  justify-content: center;
}
